.content-top {
  margin-top: 10px;
  padding: 10px 20px;
}
.bright-future {
  display: flex;
}
.left-side-content {
  padding-top: 160px;
}
.heading {
  color: #000;
  font-size: 64px;
  font-weight: 700;
}
.thought {
  color: #888e95;
  font-size: 18px;
  font-weight: 400;
}
.join {
  display: flex;
  align-items: center;
  justify-content: center;
}
.empower-img {
  object-fit: cover;
}
.empower-img img {
  width: 555px;
  height: 639px;
}
.join button {
  margin-right: 10px;
}
.join .learn {
  color: #1aa7ec;
  font-size: 18px;
  font-weight: 400;
}
.right-box {
  padding: 0px;
  margin: 0px;
}
.slider-box {
  width: 555px;
  height: 152px;

  background: #e8f6fd;
}
.slider-box h4 {
  font-size: 20px;
  font-weight: 600;
  padding-top: 16px;
  padding-left: 16px;
}
.slider-box .idea {
  font-size: 16px;
  font-weight: 300;
  padding-top: 0px;
  padding-left: 16px;
  color: #000000;
}

.empower-bright {
  display: flex;
  padding-top: 10px;
}
.hightlight-black {
  width: 40rem;
  color: #000;
  font-size: 48px;
  font-weight: 700;
}
.highlight-blue {
  /* width: 40rem; */
  color: #106690;
  font-size: 48px;
  font-weight: 700;
}

.empower-bright > div > p {
  padding-left: 40px;
  /* width: 35rem; */
  color: #888e95;
  font-size: 18px;
  font-weight: 400;
}

.star-image {
  object-fit: cover;
  justify-content: center;
}
.star-image img {
  width: 1310px;
  height: 730px;
}
.center {
  text-align: center;
}
.unlock {
  font-size: 48px;
  font-weight: 700;
}
.center p {
  color: #888e95;
  font-size: 18px;
  font-weight: 400;
}
.mentorship {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.metorship-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.metorship-box h6 {
  color: #000;
  font-size: 24px;
  font-weight: 700;
}
.metorship-box p {
  color: #888e95;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
/* .union-img{
    width: 555px;
height: 544px;
} */
.blue-box {
  height: 400px;
  background: #1aa7ec;
  text-align: center;
  align-items: center;
}
.blue-box h2 {
  padding-top: 100px;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
}
.blue-box p {
  color: #e8f6fd;
  font-size: 18px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .union-img {
    max-width: 100%;
    height: auto;
  }
  .mentorship {
    display: block;
  }
  .left-side-content {
    padding-top: 0px;
  }
  .content-top {
    flex-direction: column;
    align-items: center;
  }
  .bright-future {
    flex-direction: column;
    align-items: center;
  }

  .heading {
    font-size: 36px;
    text-align: center;
    max-width: 100%;
  }
  .right-box {
    max-width: 100%;
    height: auto;
  }
  .slider-box {
    max-width: 100%;
    height: auto;
  }
  .empower-img img {
    max-width: 100%;
    height: auto;
  }
  .thought {
    font-size: 16px;
    text-align: center;
    max-width: 100%;
  }
  .empower-bright {
    display: block;
    text-align: center;
  }
  .empower-bright p {
    padding: 0px;
    margin: 0px;
    text-align: center;
    /* width: 23rem; */
  }
  .star-image img {
    max-width: 100%;
    height: auto;
  }
  .union-img img {
    max-width: 100%;
    height: auto;
  }
  .blue-box{
    height: auto;
    padding-bottom: 20px;
  }
}
